/* shared */
*{
    font-family: 'Mulish', sans-serif;
}
body{
    padding: 1.5rem 2.5rem;
}
.primary-color{
    color: #FF5400;
}
/* header start */
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
nav img{
    margin-top: 18px;
    width: 48px;
    height: 56.008px;
    flex-shrink: 0;
}
nav h3{
    color: #131318;
    font-size: 30px;
    font-weight: 800;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    padding-top: 15px;
    margin-left: 30px;
    margin-right: 15px;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}
.logo-container{
    display: flex;
}
.logo-container img{
    margin-right: 15px;
}
.logo-container h3{
    margin-right: 15px;
}
nav .menu{
    display: none;
}

/* banner section starts */

.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1170px;
    height: 500px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group\ 13.png');
    background-repeat: no-repeat;
    border-radius: 20px;
}
.banner h3{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 18px;
}
.banner p{
    width: 670px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.banner-input{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;

    color: rgba(19, 19, 24, 0.50);
    font-size: 18px;
    font-weight: 400;
    
}
.banner input{
    margin-right: 15px;
    padding-left: 10px;
}
.banner select{
    margin-right: 15px;
    padding-left: 10px;
}
.banner button{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;

    color: #FFF;
    text-align: center;
    font-size: 16px; 
    font-weight: 700;
    
}






@media screen and (max-width:600px){
    nav ul{
        display: none;
    }
    nav .menu{
        display: block;
        margin-top: 2.5rem;
    }
}